<nav *ngIf="!isLoginPage()" class="top-header">

  <!-- Left spacer -->
  <div class="nav-left"></div>

  <!-- Center Title -->
  <div class="header-title">
    Welcome To Quantity Measurement
  </div>

  <!-- Right Buttons -->
  <div class="nav-actions">

    <button class="nav-btn" (click)="goToHistory()">
      View History
    </button>

    <!-- ❌ Not Logged In -->
    <button *ngIf="!isLoggedIn()" class="nav-btn" (click)="goToLogin()">
      Login
    </button>

    <!-- ✅ Logged In -->
    <button *ngIf="isLoggedIn()" class="nav-btn" (click)="logout()">
      Logout
    </button>

  </div>

</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>